/*------------------------------------------------------------------
    IMPORT FONTS
-------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Barlow:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Russo+One');





/*------------------------------------------------------------------
    HEADER
-------------------------------------------------------------------*/

.top-header .navbar{
    
    border: 3px solid rgb(0, 0, 0);
    font-family: 'Barlow', sans-serif;
	padding: 15px 0px;
}

.top-header .navbar .navbar-collapse ul li a{
    color: #1f1f1f;
	padding: 19px 15px;
	text-transform: uppercase;
	font-size: 18px;
}

.top-header .navbar .navbar-collapse ul li a.active{
	background: #dd666c;
	color: #ffffff;
}

.top-header .navbar .navbar-collapse ul li a:hover{
	background: #63c7bd;
	color: #ffffff;
}


.top-header.fixed-menu{
	width: 100%;
	position: fixed;
	box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06);
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
	background: #fff;
	z-index: 20;
}

.navbar-toggler{
	border: 1px solid #61D2B4;
	border-radius: 0;
	margin: 16px 15px;
	padding: 10px 10px;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.navbar-toggler span{
	background: #61D2B4;
	display: block;
	width: 25px;
	height: 2px;
	margin: 0 auto;
		margin-top: 0px;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.navbar-toggler span + span{
	margin-top: 5px;
}

.navbar-toggler:hover{
	border: 1px solid #dd666c;
}

.navbar-toggler:hover span{
	background: #dd666c;
}




* {
    margin: 0;
    padding: 0
}

body {
    background-color: #000
}

.card {
    width: 350px;
    background-color: #efefef;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
}

.image img {
    transition: all 0.5s
}

.card:hover .image img {
    transform: scale(1.5)
}

.btn {
    height: 140px;
    width: 140px;
    border-radius: 50%
}

.name {
    font-size: 22px;
    font-weight: bold
}

.idd {
    font-size: 14px;
    font-weight: 600
}

.idd1 {
    font-size: 12px
}

.number {
    font-size: 22px;
    font-weight: bold
}

.follow {
    font-size: 12px;
    font-weight: 500;
    color: #444444
}

.btn1 {
    height: 40px;
    width: 150px;
    border: none;
    background-color: #000;
    color: #aeaeae;
    font-size: 15px
}

.text span {
    font-size: 13px;
    color: #595757;
    font-weight: 500
}

.icons i {
    font-size: 19px
}

hr .new1 {
    border: 1px solid
}

.join {
    font-size: 14px;
    color: #a0a0a0;
    font-weight: bold
}

.date {
    background-color: #ccc
}


